body {
	margin: 0;
}

#nav {
	overflow: hidden;
	position: absolute;
	top:0;
	right:0;
	width:96px;
	height:48px;
}

#nav #next,
#nav #back {
	width: 48px;
	height: 48px;
	float: left;
	cursor: pointer;
}
#nav #next {
	background: transparent url('assets/images/next.png') no-repeat center center;
}
#nav #next.disabled {
	background: transparent url('assets/images/next_disabled.png') no-repeat center center;
}
#nav #back {
	background: transparent url('assets/images/back.png') no-repeat center center;
}
#nav #back.disabled {
	background: transparent url('assets/images/back_disabled.png') no-repeat center center;
}