@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

body{
    margin:0;
    font: normal 14px/1.5  'Roboto Condensed', sans-serif;
}

#nav {
	overflow: hidden;
	position: absolute;
	top:0;
	right:0;
	width:96px;
	height:48px;
}

#nav #next,
#nav #back {
	width: 48px;
	height: 48px;
	float: left;
	cursor: pointer;
}
#nav #next {
	background: transparent url('../../images/next.png') no-repeat center center;
}
#nav #next.disabled {
	background: transparent url('../../images/next_disabled.png') no-repeat center center;
}
#nav #back {
	background: transparent url('../../images/back.png') no-repeat center center;
}
#nav #back.disabled {
	background: transparent url('../../images/back_disabled.png') no-repeat center center;
}

#info {
	position: absolute;
	left: 0;
	top: 0;
	color:#FFFFFF;
	padding-top: 20px;
	padding-left: 20px;
	font-size: 3em;
	font-weight: bold;
}